Repository van-dt/Spotify-Clone-Server: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:typecheck:staged, eslint --fix, prettier --write

Update README.md
  README.md
Due: yarn lint:typecheck:staged, prettier --write

api my profile
  prisma/schema.prisma
  src/app.module.ts
  src/core/global/auth/auth.service.ts
  src/users/dto/create-user.dto.ts
  src/users/dto/update-user.dto.ts
  src/users/entities/user.entity.ts
  src/users/users.controller.spec.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
Due: yarn lint:typecheck:staged, eslint --fix, prettier --write

delete trash file
  prisma/cac.txt
Due: none

add dockerfile
  .dockerignore
  .gitignore
  Dockerfile
  docker-compose.yml
Due: yarn lint:typecheck:staged, prettier --write

fix i18n
  Dockerfile
  package.json
  src/app.module.ts
  src/helper/httpException.filter.ts
Due: yarn lint:typecheck:staged, eslint --fix, prettier --write

enable all cors
  src/main.ts
Due: yarn lint:typecheck:staged, eslint --fix, prettier --write

enable cors
  src/main.ts
Due: yarn lint:typecheck:staged, eslint --fix, prettier --write

add files in docker
  Dockerfile
Due: none

fix dockerfile
  Dockerfile
Due: none

final version
  .VSCodeCounter/2024-06-28_22-57-10/details.md
  .VSCodeCounter/2024-06-28_22-57-10/diff-details.md
  .VSCodeCounter/2024-06-28_22-57-10/diff.csv
  .VSCodeCounter/2024-06-28_22-57-10/diff.md
  .VSCodeCounter/2024-06-28_22-57-10/diff.txt
  .VSCodeCounter/2024-06-28_22-57-10/results.csv
  .VSCodeCounter/2024-06-28_22-57-10/results.json
  .VSCodeCounter/2024-06-28_22-57-10/results.md
  .VSCodeCounter/2024-06-28_22-57-10/results.txt
  prisma/migrations/20240709153358_update_user/migration.sql
  prisma/schema.prisma
  src/modules/playlists/playlists.controller.ts
  src/modules/playlists/playlists.service.ts
  src/modules/songs/songs.controller.ts
  src/modules/songs/songs.service.ts
  src/modules/upload/upload.controller.ts
  src/modules/users/dto/update-user.dto.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.service.ts
  ssl.md
Due: yarn lint:typecheck:staged, eslint --fix, prettier --write

chore: Update index.html and main.ts
  index.html
  src/main.ts
  src/modules/upload/upload.controller.ts
Due: yarn lint:typecheck:staged, eslint --fix, prettier --write

remove vs code counter
  .VSCodeCounter/2024-06-28_22-57-10/details.md
  .VSCodeCounter/2024-06-28_22-57-10/diff-details.md
  .VSCodeCounter/2024-06-28_22-57-10/diff.csv
  .VSCodeCounter/2024-06-28_22-57-10/diff.md
  .VSCodeCounter/2024-06-28_22-57-10/diff.txt
  .VSCodeCounter/2024-06-28_22-57-10/results.csv
  .VSCodeCounter/2024-06-28_22-57-10/results.json
  .VSCodeCounter/2024-06-28_22-57-10/results.md
  .VSCodeCounter/2024-06-28_22-57-10/results.txt
Due: yarn lint:typecheck:staged, prettier --write

update last version
  files/images/1344556800-8735.jpg
  files/images/1344556800-8860.jpg
  prisma/schema.prisma
  src/modules/playlists/playlists.service.ts
  src/modules/users/users.service.ts
Due: yarn lint:typecheck:staged, eslint --fix, prettier --write

Path conditions:
  yarn lint:typecheck:staged: (any of: *.{js,ts}) or (any of: *.{json,yml,md})
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,yml,md})
